.breadcrumb a,.breadcrumb span{
    font-weight: normal;
    font-size: 13px;
}
.navbar ul li a {
    font-weight: normal;
}

.navbar ul li.nav-item a {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.navbar ul li.nav-item a > i {
    min-width: 15px;
    margin-top: 4px;
    margin-right: 0 !important;
}

.db-left {

    width: 16%;
}


/*dashboard*/

body .heigh2 {
    height: auto !important;
    padding: 10px 10px !important;
    /* min-height: unset !important; */
    overflow: unset;
}
body .heigh2 .select2 span.select2-selection.select2-selection--single,
body .heigh2 select{
    padding: 5px 7px !important;
    height: auto !important;
}
/*.new-rws{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 20px;*/
/*    justify-content: space-between;*/
/*}*/

.new-rws .boxs .fxs p span i{
    margin-right:3px;
}


.new-rws .boxs {
    border: 1px solid #dee2e6;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    width: 49%;
    margin-block: 10px;
}
.new-rws .boxs p{
    font-size:13px;
    color:#212529;
}
.new-rws .boxs p span{
    display:block;
}
.new-rws .boxs .fxs{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-rws .boxs .fxs p {
    font-weight: 400;
    color: #212529;
}
.new-rws .boxs .fxs p span{
    font-weight: normal;
    color: #212529;
}

.m-dash .card{
    height:auto;
    /*min-height:275px;*/
    max-height:300px;
}
.new-rws .card.shadow-sm.bg-white {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
}
.rounded .bg-white h6 strong,.rounded .list-unstyled.small p strong{
        font-weight: normal;
        color: #212529;
}
span.tag-base {
    font-size: 13px;
}
.full_wid{
    width:100%;
        width: 100%;
    align-items: flex-start;
}
.table-responsive .dataTables_length label,.table-responsive  .dataTables_filter label{
    font-weight: normal;
    
}
.nw-btns{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my_chng{
    text-align:end;
}






/*suggestatopictopublish*/
.dataTables_wrapper .table thead tr th {
        font-weight: normal;
        vertical-align: middle;
}

/*chat pages*/
.query-box .fw-bold{
       font-weight: normal !important;
}
.chat_list .chat_people:hover .chat_ib a{
    color:#ec7501 ;
    transition:.2s;
}
.chat_list.active_chat {
    border: 1px solid #fbebdc;
    background: #fbebdc !important;
}

/*myprofile */
.contact-form .form-section label{
     font-weight: normal;
}
.profile-info h4,.name1 {
      font-weight: normal !important;
}
.profile-card hr{
    /*display:none;*/
    border: none;
}

.profile-card .my-flx1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.profile-card table th,.profile-card table td,.profile-card table td strong{
    font-weight: normal;
    font-size: 14px;
}
.after-add-more textarea{
    border-radius: 5px !important;
}
.profile-card span.label.label-default{
    padding: 5px;
    font-size: 12px;
}


.profile-card .my-flx1 >p {
    width: 48%;
}
body .profile-card .profile-info h4 {
    font-size: 15px;
    font-weight: 500 !important;
    background: #fdc0a399;
    color: #fff;
    color: #000;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 7px;
}

.my-flx p,body .profile-card .name1 {
    font-weight: 500 !important;
}
.my-flx p span{
    font-weight:normal;
}
body .profile-card {
    padding:20px;
}
body .profile-card .name1,body .profile-card .section-content p{
    font-size: 14px !important;
    color: #333333;
}
body .sent_msg p, body .time_date{
    width: fit-content;
    margin-left: auto;
}
.my-flx {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top:5px;
}

.my-flx >p span {
    display: block;
}

/*homepage*/
.progress .progress-bar{
    background-color: #5cb85c;
}


/*suggestatopictopublish*/
#suggestatopictopublishfrm .n-box-set lable{
        display: block;
    margin-bottom: 5px;
}
/*myproject*/
.dataTables_wrapper .table  tbody tr td .progress .progress-bar{
        background-color: green;
}
.dataTables_wrapper .table  tbody tr td {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}
.dataTables_wrapper .table  tbody tr td  b{
    font-weight: normal;
}
.dataTables_wrapper .table  td a{
    color: #000;
}
.table tbody td:hover a{
    color:#f39612 !important;
    transition:.2s;
}
.table tbody td:hover a.blk_hvr{
    color:#fff !important;
    transition:.2s;
}

.my-chng .table tbody td p{
    font-size:13px;
}
.my-chng .table tbody td ol li{
    font-family: "Segoe UI", sans-serif;
    font-size:13px;
}
/*project detail*/
#projectbox table tbody tr td .progress .progress-bar{
        background-color: green;
}
#projectbox table th,#projectbox table h4{
    font-weight:normal;
}
#projectbox table tbody a {
        color: #000;
}

/*#projectbox table tbody .title-main ol {*/
/*        display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 25px;*/
/*    width: 100%;*/
/*}*/
/*#projectbox table tbody .title-main ol li{*/
/*    width:48%;*/
/*}*/
#projectbox table tbody .title-main ol li +li{
    margin-top:10px;
}
#projectbox .classmain1 +p{
        font-size: 14px;

}



/*invoice detail page*/
body .address p {
    margin-bottom: 10px;
}
.m-logos a img{
    width: auto;
    /*margin-bottom: 20px;*/
}
.m-logos a{
    text-align: left;
    display: block;
    padding:10px 15px 5px;
    width:fit-content;
}
.m-cards .invoice-section h4{
     font-weight:normal;
}
.m-cards table td,.m-cards table th{
       font-weight:normal;  
}

 body .m-cards .address p span {
    font-weight: normal !important;
}

.m-cards .total-amtt b,.m-cards .table-foot p,.m-cards .inv-date span{
           font-weight:normal;  
}

.m-cards .table-foot p{
    /*text-align:left;*/
    padding-left:22px;
}
.m-cards .address{
        height: auto;
}
.m-cards .invoice-section{
      height: auto;
}
.m-cards table#example4 {
    float: unset;
    width: 95%;
    margin: 0 auto;
}
.m-cards .address{
    padding: 4px 15px 3px;
}




/*.address h3{*/
/*    text-align:center;*/
/*}*/
body .time_date {

    display: block;
    font-size: 9px;

}



/*header*/
nav.nav-main .megamenu_transblacktheme .megamenu>li>a {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
}
nav.nav-main .megamenu_transblacktheme .megamenu>li {
    background-image: url(../nav-files/line.png);
    background-position: right center;
}
body .table tbody td:hover a.makepayment{
    color:#fff !important;
}

nav.nav-main .megamenu_transblacktheme .megamenu >li.myregister {
    background:unset;
}
body .dataTables_length label::before, body .dataTables_length label::after,.dataTables_info ,body .dataTables_filter label::before{
    font-size: 10px;
}
body #dom-jqry_length select {
    font-size: 13px;
    width: 30px;
    padding-left: 5px;
    height: 30px;
    box-shadow: unset;
}
body #dom-jqry_filter input {
    font-size: 12px;
    padding: 2px 5px;
    height: auto;
    box-shadow: unset;
}
#dom-jqry_paginate ul.pagination a {
    font-size: 10px;
    padding: 5px 7px;
    box-shadow: unset;
}
#olark-wrapper.olark-dark-theme {
    display: none;
}
body input,body select,body textarea {
        box-shadow: unset !important;
}
body .del-inn {
    box-shadow: unset;
    border: 1px solid #0000002d;
}
.courses-section ul.project-in-sect li,.research-strength .research-st-in {

    box-shadow:unset;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.crd_bdy{
        display: flex;
    align-items: center;
    /* height: 100%; */
}
.crd_bdy .card-title{
     margin: 0;
    font-size: 13px;
}
#myprofileupdatefrm .col-sm-1.change {
    text-align: end;
}
.dataTables_wrapper .table tbody tr td a i{
        color: #fff;
}
body .site-pagination a:hover {
    color: #f39612 !important;
    transition: .3s;
}
.sign_pgs .shadow {
    box-shadow: unset !important;
    border: 1px solid #aaa;
    overflow: hidden;
}
.sign_pgs .sign-inner .form-group  label{
    font-weight:400;
}
.vertical-steps::before {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    width: 2px;
    height: 100%;
    background: #ccc;
    z-index: 0;
    transform: translateX(-50%);
    display:none;
}
 .sign_boxs .step{
    position:relative;
    margin: 0 !important;
    padding-bottom: 30px;
 }
.sign_boxs .step::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: unset;
    left: 20px;
    width: 2px;
    height: 100%;
    background: #ccc;
    z-index: 0;
    /* transform: translateY(-50%); */
}
.sign_boxs .step:last-child{
    padding-bottom:0;
}
.sign_boxs .step:last-child:before {
    display: none;
}
.sign_pgs .height1{
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.sign_pgs .step .step-content h4{
    font-weight: normal;
    font-size: 14px;
}
.sign_pgs .step .step-content p {
    font-size: 16px;
}
.sign-inner #register label {
    font-size: 14px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

head + body.olark-disable-back-scroll {
    overflow: auto !important;
}

.login-inner .forgotpass,.login-inner .to_register{
    text-decoration-line:none;
}
.login-inner button.btn.btn-1.reqst{
    margin-block:5px;
}
.header-top.my-bx-top .row.space-area.dassh {
    height: 100%;
    align-items: center;
}
.courses-section ul.project-in-sect li>a img {
    height: 40px;
    width: 40px;
    border: none;
    object-fit: contain;
    padding: 0;
    margin: 0;
    
}
.courses-section ul.project-in-sect li a {
    display: block;
    float: unset;
    color:#333333;
    text-decoration-line: none;
}
ul.project-in-sect p {
    padding-top: 5px;
}

.courses-section ul.project-in-sect li>a:first-of-type {
    width: fit-content;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 2px solid #b0aeae;
    padding: 8px;
    /* display: block; */
    /* float: unset; */
    /* max-width: 50px; */
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses-section ul.project-in-sect li br {
    display: none;
}
.news-events-section .fa-calendar{
}
.news-events-section .fa-calendar {
 
    color: #333 !important;
}
.news-events-section .fa-calendar span {
    color: #333 !important;   font-family: Calibri;
}






button.backlisting:hover,button.backlisting:active a.btn.backlisting:hover{
    background: transparent !important;
    color: #eb6120 !important;
    box-shadow: unset !important;
}
a.btn.backlisting i, #projectbox a.btn.backlisting i{
    color:inherit;
}
button.backlisting,a.btn.backlisting{
    background: transparent;
    border: none;
    box-shadow: unset !important;
}

nav.nav-main .megamenu_transblacktheme .megamenu>li:last-of-type a {
    padding-right: 0;
}
body nav.nav-main ul.megamenu.two li a.logout {
    padding-right: 0 !important;
    margin-right: -5px !important;
}

.main1 #projectbox table tbody tr td:hover a{
    color:#000 !important;
} 
.main1 #projectbox table tbody tr td a:hover{
    color:#f39612 !important;
}
button.backlisting:hover, a.btn.backlisting:hover{
    color:#eb6120 ;
}



/******responsive start here*******/

@media screen and (max-width:1400px){
    
}
@media screen and (max-width:1200px){
/*.megamenu li {*/
/*    max-width: unset;*/
/*}*/
/* nav.nav-main .megamenu_transblacktheme .megamenu>li {*/
/*    background-position: right top 10px;*/
/*}   */
/*.header-top.my-bx-top .logo.text-centers {*/
/*    display:none;*/
/*}*/

}
@media screen and (max-width:1024px){
    
}
@media screen and (max-width:991px){
    
}
@media screen and (max-width:767px){
    
}
@media screen and (max-width:575px){
    
}


